{% form_theme User_form 'bootstrap_5_layout.html.twig'%}
{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}

<div class="container">
    {{form_start(User_form)}}
    {{form_widget(User_form)}}
    <input type="submit" value="submit" class="btn btn-primary"/>
    {{form_end(User_form)}}
</div>
{% endblock %}